/*
  These styles would need to be shared across
  both the editor and the client render
*/
a { 
  text-decoration: none;
}
.canvas {
  background-color: white;
}
.canvas .button {
  padding: 1em;
  color: #008800;
}
.canvas .row {
  display: grid;
}
.canvas .zone-0 {
  grid-column: 1;
}
.canvas .zone-1 {
  grid-column: 2;
}
.canvas .zone-2 {
  grid-column: 3;
}
.canvas .zone-3 {
  grid-column: 4;
}