/*
  These styles would need to be shared across
  both the editor and the client render
*/
a { 
  text-decoration: none;
}
.canvas {
  background-color: white;
}
.canvas .button {
  padding: 1em;
  color: #008800;
}
.canvas .row {
  display: grid;
}
.canvas .zone-0 {
  grid-column: 1;
}
.canvas .zone-1 {
  grid-column: 2;
}
.canvas .zone-2 {
  grid-column: 3;
}
.canvas .zone-3 {
  grid-column: 4;
}
.canvas .zone-4 {
  grid-column: 5;
}
.canvas .zone-5 {
  grid-column: 6;
}
.canvas .zone-6 {
  grid-column: 7;
}
.canvas .zone-7 {
  grid-column: 8;
}
.canvas .zone-8 {
  grid-column: 9;
}
.canvas .zone-9 {
  grid-column: 10;
}
input.form-control, textarea.form-control, select.form-control {
  display: block;
  margin: 0;
  width: 95%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 4px
}
input.form-control:focus {
  outline: none;
}
.btn {
  border: none;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  font-size: 18px;
  padding: 5px 30px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 10px;
}
label {
  font-weight: bold;
}
div.placeholder {
  text-align: center;
  color: #808080;
  font-size: smaller;
  text-transform: uppercase;
}
p {
  margin: 0
}

button p {
  margin: 0
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}