/*
  These styles would need to be shared across
  both the editor and the client render
*/

.canvas .button {
  padding: 1em;
  color: #008800;
}
.canvas .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.canvas .zone-0 {
  grid-column: 1;
}
.canvas .zone-1 {
  grid-column: 2;
}
.canvas .zone-3 {
  grid-column: 3;
}
